*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
/* Navbar */
nav {
  background-color: rgba(255, 255, 255, 1);
  min-height: 69px;

}
.material-icons {
  vertical-align: middle;
  margin-top: 5px;
}
nav ul li a {
  color: black;
  font-family: 'Righteous', cursive;
  font-size: 25px;
}
nav li{
  display: inline-block;
  margin-left: 30px;
  padding-top: 35px;
  margin-right: 30px;
  position: relative;
}

nav img {
  height: 60px;
  width: 60px;
  align-items: center;
  margin-top: 2px;
  padding-left: 10px
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}
nav a:hover{
    color:black;
    background-color: rgba(0,0,0,0.0) !important
}
nav a::before{
    content:'';
    display: block;
    height: 5px;
    background-color: black;

    top: 0;
    width:0%;
}
nav a:hover::before{
    width: 100%;
    transition: all ease-in-out 250ms;
}

.container-services{
  padding:30px;
}
.card-content h5{
  font-family: 'Pompiere', cursive;
  font-size: 60px;
}
.card-content p{
  font-family:'Overpass',cursive;
  text-align:center;
  font-size:35px;
}
.container-services{
  padding-top: 170px;
}
i{
  font-size: 60px;
}
li{
  display:inline-block;
}
li i{
  padding:10px;
}
