*{
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
/* Navbar */
nav {
  background-color: rgba(255, 255, 255, 1);
  min-height: 69px;

}
.material-icons {
  vertical-align: middle;
  margin-top: 5px;
}
nav ul li a {
  color: black;
  font-family: 'Righteous', cursive;
  font-size: 25px;
}
nav li{
  display: inline-block;
  margin-left: 30px;
  padding-top: 35px;
  margin-right: 30px;
  position: relative;
}

nav img {
  height: 60px;
  width: 60px;
  align-items: center;
  margin-top: 2px;
  padding-left: 10px
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}
nav a:hover{
    color:black;
}
nav a::before{
    content:'';
    display: block;
    height: 5px;
    background-color: black;

    top: 0;
    width:0%;
}
nav a:hover::before{
    width: 100%;
    transition: all ease-in-out 250ms;
}

/*Dark Theme CSS*/
/*.container {
    color: #e7e7e7;
    width: 50px;
    height: 100px;
    background: #000;
    border-radius: 125px;
    position: absolute;
    top: 20%;
    left: 95%;
    transform: translateY(-50% );
}
.container .button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 5.1px;
    background: #fff;
    transition: .5s;
}
.light {
    position: relative;
    top: -25px;
    left: 1px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000;
}
.dark {
    position: relative;
    top: 85px;
    left: 1px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000;
}
.dark-theme {
    background: #000;
    color: #000;
}
.dark-theme .container {
background: linear-gradient(to bottom, #74ebd5, #acb6e5);
}
.dark-theme .container .button {
  transform: translateY(46px);
}
.dark-theme a {
  color: #000;
}
.dark-theme .light, .dark-theme .dark{
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.dark-theme ul .active{
    background: #a43333;
    padding: 7px;
    border-radius: 8px;
    color: #fff;
    margin-top: -8px;
    transition: .5s;
}*/
.row{
  padding-top:20px;
  align-items: center;
}
.container{
  width:100%;
  height:300px;
  margin:30px auto;
  position: relative;
}
table{
  padding-top:20px;
}
table{
  margin-top:20px;
  width: 100%;
}

button{
  font-family: 'Pompiere', cursive;
  margin-top :20px;
}
button a {
  color:white;
}

#outputTableDiv{
  display: none;
}

#t{
  font-size: 60px;
  font-family:  'Pompiere', cursive;
  text-align: center;
  padding-top:20px;
}

.avgOutput{
  font-family:'Overpass',cursive;
  text-align:center;
  font-size:25px;
  padding:10px;
  margin:10px;
}
